* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container {
  
    // width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;

}

.navigation {
    width: 58%;
    text-align: center;
    list-style-type: none;
    margin: 0 20px;
    color: #3B3486;

    li {
        font-size: 20px;

        &:hover {
            font-size: 19px;
        }

        cursor: pointer;
    }

}

.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.productItem {
    width: 200px;
    height: 375px;
    margin-bottom: 10px;
    border: 5px solid #7743DB;
    background-color: #FFE9B1;
    border-radius: 15px;
    position: relative;

    button {
        position: absolute;
        left: 5px;
        bottom: 3px;
    }

    div {
        margin: 0 auto;
        background-size: cover;
        height: 200px;
        width: 90%;
    }
}

.filterbar {

    position: relative;
    width: 40%;
    text-align: center;

    svg {
        width: 30px;
        height: 30px;
    }

    div {
        position: absolute;
        right: 0;
        border: 5px solid #7743DB;
        background-color: #FFE9B1;
        border-radius: 5px;
    }
}